:root{
	--primary: #1db954;
	--dark: #191414;

	--slide-duration : 600ms;
	--slide-delay : 250ms;

	--height-progress : 5px;
}

body {
	font-size: 16px;
}

#wrapper {
	width: 350px;
	height: 70px;
}

#wrapper-bg{
	z-index: 10;
	top: 0;
	background: var(--primary);
	background-image: url("/content/img/spotify-logo/spotify_logo_black.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50%;
}

#wrapper-bg,
#container {
	width: 100%;
	height: 100%;
	transition: transform var(--slide-duration) ease-in-out;
}

#wrapper-bg.delayed,
#container.delayed {
	transition: transform var(--slide-duration) var(--slide-delay) ease-in-out !important;
}

#cover {
	z-index: 1;
	width: 70px;
	height: 100%;
	top:0;
}

#main {
	width: 280px;
	height: 100%;
	background: var(--dark);
}

#text-wrapper {
	height: 100%;
	padding: 0.5rem 0;
}

#artists, #title {
	font-weight: bold;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	line-height: normal;
}

#artists {
	top: 0.5rem;
	font-size: 0.9375em;
	color: var(--primary);
	margin-bottom: 2px;
}
#title {
	bottom: 0.5rem;
	font-size: 1.5em;
	color: white;
	margin-bottom: 0;
}

.scroll .text-content{
	position: relative;
	top: 0;
	left: 0;

	animation: text-scroll 15s var(--slide-duration) infinite ease-in-out;
}

.scroll .text-content::after{
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: calc(100% + 4rem);
}

@keyframes text-scroll {
	0% {
		transform: translateX(0%);
	}
	100%{
		transform: translateX(calc(-100% - 4rem));
	}
}
