:root{
	--height-progress : 5px;
}

#text-wrapper {
	height: calc(100% - var(--height-progress));
	padding: 0.5rem 0 0.375rem 0;
}

#artists {
	top: 0.5rem;
	font-size: 0.875em;
}
#title {
	bottom: 0.5rem;
	font-size: 1.375em;
}

#track-progress {
	height: var(--height-progress);
	bottom: 0;
	left: 0;

	background: var(--primary);
}
